body {
  margin: 0px;
  padding: 0px;
}

header {
  text-align: center;
  padding: 30px;
  background-color:antiquewhite;
}
header img {
  border-radius: 50%;
  margin-bottom: 30px;
}

.row {
  display: flex;
  flex-flow: row;
}

.item {
  background-color: teal;
  padding: 20px;
  width: 100%;
  margin: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  right:0;
  text-align: center;
  padding: 20px;
  background-color: bisque;
  width: 100%;
}